Mclass.exe
.vscode/*
.vscode
main.exe
build/*
cmake_build/*
build
cmake_build
simple_example.exe
simple_example2.exe
main.c
examples/build/*
examples/build
test/*.out
test/*.exe
test/*.o
test/*.txt
test/test_flops.c
test/test_mips.c
*__pycache__/
*pmu_estimator.egg-info/